{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.datePublication) }}
    {{ form_row(form.isbn) }}
    {{ form_row(form.disponible) }}
    {{ form_row(form.imageCouverture) }}

    {# Sélection des authors #}
    {{ form_row(form.authors) }}

    {# Sélection des catégories #}
    {{ form_row(form.categorys) }}

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

