{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.publicationDate) }}
    {{ form_row(form.isbn) }}
    {{ form_row(form.available) }}
    {{ form_row(form.coverImage) }}

    {# Sélection des authors #}
    {{ form_row(form.authors) }}

    {# Sélection des catégories #}
    {{ form_row(form.categorys) }}

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

