{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
    <h1>Review index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rate</th>
                <th>Review</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in notice %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.rate }}</td>
                <td>{{ review.review }}</td>
                <td>{{ review.date ? review.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_notice_show', {'id': review.id}) }}">show</a>
                    <a href="{{ path('app_notice_edit', {'id': review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_notice_new') }}">Create new</a>
{% endblock %}
